p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

.blackbox {
  padding: 1em;
  background: tan;
  color: black;
  border: 2px solid maroon;
  border-radius: 10px;
}

.center {
  text-align: center;
}

pre.custom-outputP {
	background-image: unset;
	background-color: #d0ece7 !important;
}

pre.custom-outputC {
	background-image: unset;
	background-color: #fad7a0 !important;
}

pre.custom-outputF {
	background-image: unset;
	background-color: #e8daef !important;
}

pre.custom-cmd {
	background-image: unset;
	color: #FFFFFF !important;
	background-color: #000000 !important;
}



kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
	font-family: "Gill Sans", sans-serif;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
   }